/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1e9da;
  padding: 30px 0;
  text-align: center;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}
