/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1e9da;
    padding: 10px; 
    top: 0;
    margin: 0; /* Remove default margins */
  }

  .left-content p {
    margin: 0;
    font-weight: bold;
    color: brown;
  }
  
  .right-content {
    display: flex;
    align-items: center;
    color: brown;
  }
  
  .right-content p {
    margin: 0 10px 0 0; /* Adjust margin for spacing between links and chat section */
    font-size: 14px;
  }
  
  .right-content a {
    text-decoration: none;
    color: brown;
  }
  
  .chat {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .chat span {
    font-weight: bold;
  }
  